# netlify.toml

[build]
  command   = "npm run build"
  publish   = "dist"
  # <-- aquí le dices a Netlify dónde están tus lambdas ¡en build también!
functions = "netlify/functions"

[dev]
  command    = "npm run dev:vite"
  functions  = "api"
  targetPort = 5173

# Redirige /api/subscribe a la función real
[[redirects]]
  from   = "/api/subscribe"
  to     = "/.netlify/functions/subscribe"
  status = 200
